<% include ../../shared/email/header %>

<p>
  You have requested a password reset. Please proceed with the following:
</p>

<p>
  <button>
    <a href="<%= continue_url %>">Reset password</a>
  </button>
</p>

<br />

<% include ../../shared/email/footer %>
