<% include ./shared/header %>

<p>
  You have requested a password reset. Please proceed with the following: 
</p>

<p>
  <button>
    <a href="<%= continue_url %>">Reset my password</a>
  </button>
</p>

<br />

<% include ./shared/footer %>
