<%- include ../../shared/email/header  %>

<p>
  Welcome to Starter.
</p>

<p>
  <button>
    <a href="<%= continue_url %>">Validate my account</a>
  </button>
</p>

<br />

<%- include ../../shared/email/footer  %>
