<%- include ../../shared/email/header  %>

<p>
  Welcome to Hello World. Please validate your email address:
</p>

<p>
  <button>
    <a href="<%= continue_url %>">Validate account</a>
  </button>
</p>

<br />

<%- include ../../shared/email/footer  %>
